<div class="footer">
 <div class="container">
   <div class="row">
     <div class="col-4  mr-auto">
       <h4 style="margin-top: 10px;">Contact Us</h4>
       <p>Email: info@pet2go.com</p>
        <p>Phone: +1 (507) 223-4537</p>
      </div>
      <div class="col-7 text-center follow-us">
       <h4 style="margin-top: 10px;">Follow Us</h4>
       <a href="#" target="_blank" style="color: #06d6a0;"><i class="fab fa-facebook"></i></a> |
       <a href="#" target="_blank" style="color: #06d6a0;"><i class="fab fa-twitter"></i></a> |
       <a href="#" target="_blank" style="color: #06d6a0;"><i class="fab fa-instagram"></i></a>
     </div>
      <hr style="border-color: #000;">
       <div class="footer-copyright">
     <p class="text-muted" style="margin-bottom: 20px;">&copy; <%= Time.now.year %> A place for Pet2Go, Inc. All rights reserved.</p>
     <hr style="border-color: #fff;">
    </div>
   </div>
  </div>
</div>
