.offers-card{
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: none;
}

.card-price {
  font-size: 18px;
  font-weight: bold;
}

.image-offer{
    height: 100%;
    width: 120px;
    object-fit: cover;
}

.card {
  border-radius: 20px;
 background: #f5f5f5;
 position: relative;
 padding: 1.8rem;
 border: 2px solid #c3c6ce;
 transition: 0.5s ease-out;
 overflow: visible;
}

.card-body {
margin-bottom: 50px;
}

 .card-details {
  color: black;
  height: 100%;
  gap: .5em;
  border-radius: 20px;
  background: #f5f5f5;
  position: relative;
  padding: 1.8rem;
  border: 2px solid #c3c6ce;
  transition: 0.5s ease-out;
  overflow: visible;
 }

 .text-body {
  color: rgb(134, 134, 134);
 }

 /*Text*/
 .text-title {
  font-size: 1.5em;
  font-weight: bold;
 }

 /*Hover*/
 .card:hover {
  border-color: $green;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
 }

 .card:hover .card-button {
  transform: translate(-50%, 50%);
  opacity: 1;
 }

 .custom-button-style {
  background-color: #08D6A0;
  padding: 10px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 100px;
  margin-bottom: 3px;
}
