<h3> Leave a review </h3>
<div class="container">
  <%= simple_form_for [@offer, @review] do |f| %>
    <%= f.input :rating %>
    <%= f.input :comment %>
    <%= f.submit class:"save" %>

  <% end %>
</div>
